.course_card{
    background-color: #666;
    max-width: 600px;
    max-height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
}

.course_plus{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 7px 5px;
    gap: 5px;
}
.info_icon{
    cursor: pointer;
}
.points_icon{
    cursor: pointer;
}


.course_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.course_info_1{
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.course_info_1_titulo{
    font-weight: 600;
}

.course_info_1_text{
    display: flex;
    gap: 15px;
}

.info_1_text_item{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.course_info_2{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #bbb;
}